
YPM_GOOGLE_SHEET_WEBHOOK_URL=""
YPM_REF_TRACKING_WEBHOOK_URL=""
YPM_WEBHOOK_SECRET=""
YPM_NOTIFICATION_EMAILS=""

PORTFOLIO_LIMIT="65"
YPM_PORTFOLIO_LIMIT="65"

IMGBB_API_KEY=""
RESEND_API_KEY=""
NOTIFICATION_EMAILS=""
FROM_EMAIL=""